.homeArrow {
animation: animatedArrowDown 2s ease infinite;
}

@keyframes animatedArrowDown {
  0% {
    translate:  0 -25%;
  }
  50% {
    translate: 0 40%;
  }
  100% {
    translate: 0 -25%;
  }
}

.homeLetterRight {
    animation: rotationalWaveRight 2s steps(1) ;
}
.homeLetterLeft {
    animation: rotationalWaveLeft 2s steps(1);
}

@keyframes rotationalWaveRight {
    0% { transform: rotate(0deg) }
    25% { transform: rotate(6deg) }
    50% { transform: rotate(-6deg) }
    75% { transform: rotate(6deg) }
    100% { transform: rotate(0deg) }
}
@keyframes rotationalWaveLeft{
    0% { transform: rotate(0deg) }
    25% { transform: rotate(-6deg) }
    50% { transform: rotate(6deg) }
    75% { transform: rotate(-6deg) }
    100% { transform: rotate(0deg) }
}