.navcontainer:hover .navbtn i {
  rotate: 180deg;
  transition: all 0.5s ease-in-out;
}
.navcontainer .navbtn i {
  rotate: 0deg;
  transition: all 0.4s ease-in-out;
}

.navcontainer {
  transition: all 0.4s ease-in-out;
}
.navcontainer:hover {
  transition: all 0.5s ease-in-out;
  translate: 81% 0px;
}