/* Button made by https://uiverse.io/profile/himanshu9682 */

:root {
  --button-color: #1c580d;
}

.button {
  position: relative;
  z-index: 0;
  width: 240px;
  height: 64px;
  letter-spacing: 3px;
  transition: all 0.3s ease;
}

.button:active {
  transform: scale(0.95);
}

.button__text {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.button__drow1,
.button__drow2 {
  position: absolute;
  z-index: -1;
  width: 32px;
  height: 0;
  border-radius: 16px;
  transform-origin: 16px 16px;
  background-color: var(--button-color);
  transition: height 0.2s ease;
}

.button__drow1 {
  top: -16px;
  left: 40px;
  transform: rotate(30deg);
  transition-delay: 0s;
}

.button__drow2 {
  top: 44px;
  left: 77px;
  transform: rotate(-127deg);
  transition-delay: 0.2s;
}

.button__drow1::before,
.button__drow1::after,
.button__drow2::before,
.button__drow2::after {
  content: "";
  position: absolute;
  width: 0;
  height: 32px;
  border-radius: 16px;
  transform-origin: 16px 16px;
  background-color: var(--button-color);
  transition: width 0.2s ease;
}

.button__drow1::before {
  bottom: 0;
  left: 0;
  transform: rotate(-60deg);
  transition-delay: 0.06s;
}

.button__drow1::after {
  top: -10px;
  left: 45px;
  transform: rotate(69deg);
  transition-delay: 0.14s;
}

.button__drow2::before {
  bottom: 0;
  left: 0;
  transform: rotate(-146deg);
  transition-delay: 0.26s;
}

.button__drow2::after {
  bottom: 26px;
  left: -40px;
  transform: rotate(-262deg);
  transition-delay: 0.32s;
}

/* Hover: se expanden */
.button:hover .button__drow1 {
  height: 100px;
}

.button:hover .button__drow2 {
  height: 120px;
}

.button:hover .button__drow1::before {
  width: 120px;
}

.button:hover .button__drow1::after {
  width: 80px;
}

.button:hover .button__drow2::before {
  width: 80px;
}

.button:hover .button__drow2::after {
  width: 124px;
}

/* Inversión de delay al salir del hover */
.button:not(:hover) .button__drow2::after {
  transition-delay: 0s;
}
.button:not(:hover) .button__drow2::before {
  transition-delay: 0.06s;
}
.button:not(:hover) .button__drow1::after {
  transition-delay: 0.14s;
}
.button:not(:hover) .button__drow1::before {
  transition-delay: 0.2s;
}
.button:not(:hover) .button__drow2 {
  transition-delay: 0.26s;
}
.button:not(:hover) .button__drow1 {
  transition-delay: 0.32s;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
