@tailwind base;
@tailwind components;
@tailwind utilities;

.home-section {
  width: 100%;
  height: 100vh;
  background: url("../app/assets/nordicaps-2.webp") left top no-repeat,
    url("../app/assets/nordicaps-1.webp") center top no-repeat,
    url("../app/assets/nordicaps-3.webp") right top no-repeat;
  background-size: contain;
  background-position: -14%, 50%, 114%;
  background-attachment: fixed;
}
.home-section::before {
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-color: rgba(0, 0, 0, 0.50);
}
