@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components  {
  nav-group-hover {
    @apply opacity-0 group-hover:opacity-100 group-hover:translate-x-4 transition-all duration-200;
  }
}

.home-section {
  width: 100%;
  height: 100vh;
  background-color: #151b15;
  background-image: url("../assets/noise-nordicaps.png");
}

.cap-svg path {
  fill: transparent;
  stroke: white;
  filter: drop-shadow(0px 0px 10px white);
  stroke-width: 3px;
  stroke-dasharray: 200;
  animation: capAnimation 3s ease-in-out 1 forwards, capAnimationGlow 3s infinite steps(1);
}

@keyframes capAnimation {
  100% {
    stroke-dasharray: 900;
  }
}

@keyframes capAnimationGlow {
  0% { filter: drop-shadow(0px 0px 10px rgb(73, 61, 61)); }
  5% { filter: drop-shadow(0px 0px 15px rgb(63, 209, 5)); }
  10% { filter: drop-shadow(0px 0px 10px rgb(73, 61, 61)); }
  20% { filter: drop-shadow(0px 0px 15px rgb(63, 209, 5)); }
  70% { filter: drop-shadow(0px 0px 10px rgb(73, 61, 61)); }
  75% { filter: drop-shadow(0px 0px 15px rgb(63, 209, 5)); }
  100% { filter: drop-shadow(0px 0px 10px rgb(73, 61, 61)); }
}

.products-section {
  background-color: #053b05;
  background-image: url("../assets/noise-nordicaps.png");
}

.como-comprar-section {
  background-color: #273a28;
  background-image: url("../assets/noise-nordicaps.png");
}

.animation-gorras {
  animation: reveal-card linear both;
  animation-timeline: view();
  animation-range: entry 10% cover 20%;
}
.animation-pilusos {
  animation: reveal-card linear both;
  animation-timeline: view();
  animation-range: entry 20% cover 30%;
}
.animation-gorros {
  animation: reveal-card linear both;
  animation-timeline: view();
  animation-range: entry 30% cover 40%;
}

.arrow-animation {
  animation: reveal linear both;
  animation-timeline: view();
  animation-range: entry 20% cover 25%;
}

.atropos-inner {
  width: 400px !important;
  height: 670px !important;
  align-content: center !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}

@keyframes reveal {
  from {
    translate: -30px 0;
    opacity: 0;
  }
  to {
    opacity: 1;
    translate: 0 0;
  }
}
@keyframes reveal-card {
  from {
    translate: 0 50px;
    opacity: 0;
  }
  to {
    opacity: 1;
    translate: 0 0;
  }
}

/* Scrollbar */
*::-webkit-scrollbar {
  width: 8px;
}
*::-webkit-scrollbar-track {
  /* border-radius: 5px; */
  background-color: rgb(30, 30, 30);
}

*::-webkit-scrollbar-track:active {
  background-color: rgb(30, 30, 30);
}

*::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: rgb(0, 75, 0);
}

*::-webkit-scrollbar-thumb:hover {
  background-color: rgb(0, 100, 0);
}
